<div class="container-fluid">
    <div class="col-xs-12 col-md-14 col-md-offset-1 col-lg-12 col-lg-offset-0">
        <div class="page-header">
            <h2>
                    <img src="assets/img/logo.png" width="117" height="32">
                <div style="margin-top:-32px; margin-left:134px; color:#000000">
                <span> |  Data Pengguna Media Sosial</span><br/>
                </div>
            </h2>
        </div>
        <!--<div class="row">
            <h2 class="col-xs-6"></h2>
            <div class="col-xs-2">
                <label class="label-control">Rows on page</label>
                <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                </select>
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <label class="col-xs-12 label-control">Sort by</label>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="name">Name</option>
                            <option ngValue="email">Email</option>
                            <option [ngValue]="sortByWordLength">kota</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="panel panel-default">
            <div style="background-color: #ff0000" class="panel-heading"><h4 style="color:#ffffff"><strong>User information</strong></h4></div>

            <table class="table table-striped table-hover" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                    <th style="border-bottom:0px" colspan="5">
                        Filter by name:
                        <input style="width: 100%;"class="form-control" [(ngModel)]="filterQuery"/>
                    </th>
                    <th style="border-bottom: 1px solid #ddd;">
                        <select style="width:100%" class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                        </select>
                    </th>
                    <th style="border-bottom: 1px solid #ddd;">
                        <select style="width:56%" class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="name">Name</option>
                            <option ngValue="email">Email</option>
                            <option [ngValue]="sortByWordLength">kota</option>
                        </select>
                    </th>
                    <button style="margin-top:30px; margin-right: 13px; float:right;" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-sm">Create User</button>
                </tr>
                <tr>
                    <th style="width: 4%; color: #ff0000;">No</th>
                    <th style="width:4%; color: #ff0000;">ID</th>
                    <th style="width: 9%">
                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                    </th>
                    <th style="width: 13%">
                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                    </th>
                    <th style="width:13%; color: #ff0000;">No Handphone</th>
                    <th style="width: 5%">
                        <mfDefaultSorter by="tLahir">Tanggal Lahir</mfDefaultSorter>
                    </th>
                    <th style="width: 13%">
                        <mfDefaultSorter [by]="sortByWordLength">kota</mfDefaultSorter>
                    </th>
                    <th style="width: 8%"></th>
                </tr>          
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data; let i= index">
                    <td style="color: #5b5b3e;">{{i+1}}</td>
                    <td style="color: #5b5b3e;">{{item.id}}</td>
                    <td style="color: #5b5b3e;">{{item.name}}</td>
                    <td style="color: #5b5b3e;">{{item.email}}</td>
                    <td style="color: #5b5b3e;">{{item.no_hp}}</td>
                    <td style="color: #5b5b3e;">{{item.tLahir}}</td>
                    <td style="color: #5b5b3e;">{{item.kota | uppercase}}</td>
                    <td>
                        <button (click)="remove(item)" data-toggle="confirmation" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                        <button (click)="Edit(item)" data-toggle="modal" data-target="#myModal2" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                        <button (click)="Edit(item)" data-toggle="modal" data-target="#myModal3" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span></button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body" style="font-size:12px;">
					<form [formGroup]="myForm" novalidate (submit)="Added()">
                    	<div class="col-xs-6 form-group">
                            <label>ID : </label>
							<input type="text" class="form-control" formControlName="id">
							<label>Nama : </label>
                            <input type="text" class="form-control" formControlName="name">
							<label>E-MAIL : </label>
							<input type="text" class="form-control" formControlName="email">
                            <label>Nomor Handphone : </label>
							<input type="text" class="form-control" formControlName="no_hp">
                            <label>Lahir :</label>
							<input type="date" id="datepicker" class="form-control" formControlName="tLahir" placeholder="mm/dd/yyyy">
                            <label>Kota Asal : </label>
							<input type="text" class="form-control" formControlName="kota">
                            <label>EX DATE : <span class="glyphicon glyphicon-calendar"></span></label>
							<input type="date" class="form-control" formControlName="exDate" placeholder="mm/dd/yyyy">
							<label>MASA TENGGANG : <span class="glyphicon glyphicon-calendar"></span></label>
                            <input type="date" class="form-control" formControlName="msTenggang" placeholder="mm/dd/yyyy">
							<label>PASSWORD : </label>
							<input type="text" class="form-control" formControlName="pass">
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>FB URL : </label>
							<input type="text" class="form-control" formControlName="fb_url">
                            <label>FB FRIENDS : </label>
							<input type="text" class="form-control" formControlName="fb_friend">
                            <label>TWITTER URL : </label>
							<input type="text" class="form-control" formControlName="tw_url">
							<label>TWITTER FOLLOWER : </label>
                            <input type="text" class="form-control" formControlName="tw_foll">
							<label>INSTAGRAM URL : </label>
							<input type="text" class="form-control" formControlName="insta_url">
                            <label>INSTAGRAM FOLLOWER : </label>
							<input type="text" class="form-control" formControlName="insta_foll">
                            <label>IP ADDRESS : </label>
							<input type="text" class="form-control" formControlName="ip_add">
                            <label>MAC ADDRESS : </label>
							<input type="text" class="form-control" formControlName="mac_add">
                        </div>
                        <div class="form-group">
							<button class="btn btn-primary" type="submit">Add</button>
						</div>
					</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	</div>
    <!-- modal edit -->
    <div id="myModal2" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body" style="font-size:12px;">
					<form [formGroup]="myForm" novalidate (submit)="Added()">
                    		<div class="col-xs-6 form-group">
                            <label>ID : </label>
							<input type="text" class="form-control" formControlName="id">
							<label>Nama : </label>
                            <input type="text" class="form-control" formControlName="name">
							<label>E-MAIL : </label>
							<input type="text" class="form-control" formControlName="email">
                            <label>Nomor Handphone : </label>
							<input type="text" class="form-control" formControlName="no_hp">
                            <label>Lahir : <span class="glyphicon glyphicon-calendar"></span></label>
							<input type="date" class="form-control" formControlName="tLahir" placeholder="mm/dd/yyyy">
                            <label>Kota Asal : </label>
							<input type="text" class="form-control" formControlName="kota">
                            <label>EX DATE : <span class="glyphicon glyphicon-calendar"></span></label>
							<input type="date" class="form-control" formControlName="exDate" placeholder="mm/dd/yyyy">
							<label>MASA TENGGANG : <span class="glyphicon glyphicon-calendar"></span></label>
                            <input type="date" class="form-control" formControlName="msTenggang" placeholder="mm/dd/yyyy">
							<label>PASSWORD : </label>
							<input type="text" class="form-control" formControlName="pass">
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>FB URL : </label>
							<input type="text" class="form-control" formControlName="fb_url">
                            <label>FB FRIENDS : </label>
							<input type="text" class="form-control" formControlName="fb_friend">
                            <label>TWITTER URL : </label>
							<input type="text" class="form-control" formControlName="tw_url">
							<label>TWITTER FOLLOWER : </label>
                            <input type="text" class="form-control" formControlName="tw_foll">
							<label>INSTAGRAM URL : </label>
							<input type="text" class="form-control" formControlName="insta_url">
                            <label>INSTAGRAM FOLLOWER : </label>
							<input type="text" class="form-control" formControlName="insta_foll">
                            <label>IP ADDRESS : </label>
							<input type="text" class="form-control" formControlName="ip_add">
                            <label>MAC ADDRESS : </label>
							<input type="text" class="form-control" formControlName="mac_add">
                        </div>
						<div class="form-group">
							<button type="button" class="btn btn-primary" (click)="Update()">Update</button>
						</div>
					</form>
		
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	</div>

    <!-- modal see -->

    <div id="myModal3" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body" style="font-size:12px;">
					<form [formGroup]="myForm" novalidate (submit)="Added()">
                    		<div class="col-xs-6 form-group">
                            <label>ID : </label>
							<input type="text" class="form-control" formControlName="id">
							<label>Nama : </label>
                            <input type="text" class="form-control" formControlName="name">
							<label>E-MAIL : </label>
							<input type="text" class="form-control" formControlName="email">
                            <label>Nomor Handphone : </label>
							<input type="text" class="form-control" formControlName="no_hp">
                            <label>Lahir : <span class="glyphicon glyphicon-calendar"></span></label>
							<input type="date" class="form-control" formControlName="tLahir" placeholder="mm/dd/yyyy">
                            <label>Kota Asal : </label>
							<input type="text" class="form-control" formControlName="kota">
                            <label>EX DATE : <span class="glyphicon glyphicon-calendar"></span></label>
							<input type="date" class="form-control" formControlName="exDate" placeholder="mm/dd/yyyy">
							<label>MASA TENGGANG : <span class="glyphicon glyphicon-calendar"></span></label>
                            <input type="date" class="form-control" formControlName="msTenggang" placeholder="mm/dd/yyyy">
							<label>PASSWORD : </label>
							<input type="text" class="form-control" formControlName="pass">
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>FB URL : </label>
							<input type="text" class="form-control" formControlName="fb_url">
                            <label>FB FRIENDS : </label>
							<input type="text" class="form-control" formControlName="fb_friend">
                            <label>TWITTER URL : </label>
							<input type="text" class="form-control" formControlName="tw_url">
							<label>TWITTER FOLLOWER : </label>
                            <input type="text" class="form-control" formControlName="tw_foll">
							<label>INSTAGRAM URL : </label>
							<input type="text" class="form-control" formControlName="insta_url">
                            <label>INSTAGRAM FOLLOWER : </label>
							<input type="text" class="form-control" formControlName="insta_foll">
                            <label>IP ADDRESS : </label>
							<input type="text" class="form-control" formControlName="ip_add">
                            <label>MAC ADDRESS : </label>
							<input type="text" class="form-control" formControlName="mac_add">
                        </div>
					</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	</div>